<%# <div class = "container align-center"> %>
<div class = background style="background-color: #02B04E;">
  <div class = "container">
    <div class = "top-section">
      <%= image_tag "snatch_food_white.png" %>
      <br>
      <br>
      <div class = "last_step_checkout">
        <h1>Last Step - Checkout</h1>
        <h2>Delivery to:</h2>
        <%= @order.user.address %>
      </div>
    </div>

    <div class = "border border-4">
      <div class = "order_summary">
        <h2>Order Summary</h2>
        <br>
        <p>Customer Name: <%= @order.user.name %></p>
        <p>Email: <%= @order.user.email %></p>
        <p>Phone: <%= @order.user.phone %></p>
        <p>Delivery date: <%= @order.delivery_date %></p>
        <p>Delivery time: <%= Time.now %> </p>
      </div>

      <% @order.order_items.each do |order_item| %>
        <div>
          Name: <%= order_item.item.name %> | Quantity: <%= order_item.quantity %>
        </div>
      <% end %>
<%# sum = 0 %>
<%# total_amt_per_item = order.order_item.items.each |item_price|
sum = item_price * quantity
end

total_quantity = order.order_item.each |item|
item * quantity
end

final_amt = total_amt * total_quantity  %>

<%# ----------------------------------- %>


<%# (order_item * quantity)  %>

      <div class="delivery_details">
        <p>Payment details</p>
        <p>Total: $<%= @sum %></p>
        <p>Payment details: By cash</p>
        <p>Cash on Delivery</p>

        <%= link_to "Edit order", orders_path(@order), class: "btn btn-primary" %>
        <%= link_to "Place order", edit_order_path(@order), class: "btn btn-success" %>
        <br>
        <br>
        <%= simple_form_for(@order) do |f| %>
          <p>Delivery status:<%= f.input :delivered %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# </div> %>
