<%# <div class = "container align-center"> %>
<div class = background style="background-color: #02B04E;">
  <div class = "container">
    <div class = "top-section">
      <%= image_tag "snatch_food_white.png" %>
      <br>
      <br>
        <div class = "last_step_checkout">
          <h1><b>Last Step - Checkout</b></h1>
          <h2>Delivery to:</h2>
          <%= @order.user.address %>
        </div>
      <br>
    </div>

    <div class = "border border-4">
      <div class = "order_summary">
        <h2><b>Order Summary</b></h2>
        <br>
        <p><b>Customer Name:</b> <%= @order.user.name %></p>
        <p><b>Email:</b> <%= @order.user.email %></p>
        <p><b>Phone: </b><%= @order.user.phone %></p>
        <p><b>Delivery date: </b><%= @order.delivery_date %></p>
        <p><b>Delivery time: </b><%= Time.now %> </p>
      </div>

      <% @order.order_items.each do |order_item| %>
        <div>
          <b>Name:</b> <%= order_item.item.name %> | <b>Quantity:</b> <%= order_item.quantity %>
        </div>
      <% end %>
<%# sum = 0 %>
<%# total_amt_per_item = order.order_item.items.each |item_price|
sum = item_price * quantity
end

total_quantity = order.order_item.each |item|
item * quantity
end

final_amt = total_amt * total_quantity  %>

<%# ----------------------------------- %>


<%# (order_item * quantity)  %>

      <div class="delivery_details">
        <p><b>Payment details</b></p>
        <p><b>Total:</b> $<%= @sum %></p>
        <p><b>Payment details:</b> By cash</p>
        <p>Cash on Delivery</p>

        <%#= link_to "Edit order", orders_path(@order), class: "btn btn-primary" %>
        <%= link_to "Place order", root_path, :data => {:confirm => 'Are you sure?'}, class: "btn btn-success" %>
        <br>
        <br>
        <%= simple_form_for(@order) do |f| %>
          <p><b>Delivery status:</b><%= f.input :delivered %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# </div> %>
