<div class="big-container">
  <h1 class="text-center">Login to Your Account</h1>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs container1">
      <div class="sign_in">
        <%= f.input :email,
                  required: true,
                  autofocus: false,
                  input_html: { autocomplete: "email" }%>
      </div>
      <div class="sign_in">
        <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password" }, class: 'signin' %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-actions1 container1">
      <%= f.button :submit, "Log in", class: 'submit' %>
    </div>
    <div class="sign_up">
      <%= render "devise/shared/links", class: 'sign_up' %>
    </div>
  <% end %>
</div>
