<body id="login-page">

  <div class="main-container-login">
    <div class="second-container-login">

      <div class="img-login">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "snatch_food", width: 150%>
        <% end %>
      </div>

      <p class="text-login">Login to Your Account</p>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
        <div class="form-inputs-login">
          <div class="sign_in">
            <%= f.input :email,
                      required: true,
                      autofocus: false,
                      input_html: { autocomplete: "email" }%>
          </div>
          <div class="sign_in">
            <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "current-password" }, class: 'signin' %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>

        <div class="form-actions-login">
          <%= f.button :submit, "Log in", class: 'submit' %>
        </div>

      <% end %>

      <div class="sign_up">
        <%= render "devise/shared/links", class: 'sign_up' %>
      </div>

    </div>
  </div>
</body>
