<div class="body">
  <div class="banner" style="background-image: url(https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="restaurant-header justify-content-center text-center">
      <h1><strong>Welcome to my Restaurant Page</strong></h1>
      <h2><%= link_to "Create a new restaurant", new_restaurant_path(@restaurant), class: "text-decoration-none text-black" %></h2>
    </div>
  </div>

  <div class="restaurant-container mt-4">
    <div class="details row gap-3 pt-3 justify-content-center text-center">
      <% @restaurants.each do |restaurant| %>
      
        <div class="detail p-3 border-success col-6 col-md-4 col-lg-3">
          <% if restaurant.photo.attached? %>
            <div class="detail-img text-center pb-3"><%= cl_image_tag restaurant.photo.key, height: 200, width: 200, crop: :fill %></div>
          <% end %>
            <p class="index-text mb-0">Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
            <p class="index-text mb-0">Location: <%= restaurant.location %></p>
            <p class="index-text mb-0">Category: <%= restaurant.category %></p>
            <%= link_to "Delete", restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
