<div class="body">
  <div class="banner" style="background-image: url(https://i0.wp.com/diplomartbrussels.com/wp-content/uploads/2020/09/food-background-images-94-images-in-co-381169-png-images-pngio-food-background-png-1440_619.png?fit=1440%2C619&ssl=1);">
    <div class="restaurant-header justify-content-center text-center">
      <h1><strong>Welcome to your Restaurant Page</strong></h1>
      <h2><%= link_to "Create a new restaurant", new_restaurant_path(@restaurant)%></h2>
    </div>
  </div>

  <div class="restaurant-container mt-4">
    <div class="details row gap-3 pt-3 justify-content-center text-center">
      <% @restaurants.each do |restaurant| %>
        <div class="detail boader p-3 border-success col-6 col-md-4 col-lg-3">
          <div class="detail-img text-center pb-3"><%= image_tag "fish.jpg" %></div>
            <p>Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
            <p>Location: <%= restaurant.location %></p>
            <p>Category: <%= restaurant.category %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <div class="link">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <p>This website was coded with created by SnatchFood Team.</p>
    </div>
  </div>
