<%# <h1>BUYER SHOW PAGE </h1> %>
<%# restaurant banner details %>
<div class="banner_buyer_show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1651166/pexels-photo-1651166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="header_user_show">
    <p id= "user_show_font"><%= link_to 'Home', root_path, class: "text-decoration-none btn btn-outline-light"  %> </p>
    <p id= "user_show_font">Restaurant Name: <%= @restaurant.name %></p>
    <div class="restaurant-details">
      <%# <h2 id= "user_show_font"><strong><%= @restaurant.name %></strong></h2>
      <p id= "user_show_font">Location: <%= @restaurant.location %></p>
      <p id= "user_show_font">Cuisine: <%= @restaurant.category %></p>
    </div>

    <%# <% if user_signed_in? %>
      <%# <%= link_to "View Confirmation", order_path(@order), class: "btn btn-success"%>
    <%# <% end %>
  </div>
</div>

<%# item cards %>
<div class="d-flex flex-wrap justify-content-center gap-4 px-1 mt-4 row">
  <% @restaurant.items.each do |item| %>
      <div class="col-sm-3 d-flex">
        <div class="card border p-3 border-success">
          <div class="card-img-top">
            <% if item.photo.attached? %>
              <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fill %>
            <% end %>
          </div>
          <div class="card-body d-flex flex-column">
            <div class="card-title"><h4><%= item.name %></h4></div>
            <div class="card-text mb-auto"><p><%= item.description %></p></div>
            <div class="card-text mt-auto"><p>$<%= item.price %></p></div>

            <div data-controller="insert-in-count">
              <% if user_signed_in? %>
                <div class="mt-auto">
                  <%= render "order_items/form", order: @order, order_item: @order_item, item: item, restaurant: @restaurant %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<% if flash.alert %>
  <div class="alert alert-primary" role="alert">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>
