
<h1>BUYER SHOW PAGE </h1>
<%# restaurant banner details %>
<div class="banner">
  <div class="header">
    <p><%= link_to 'Home', root_path, class: "text-decoration-none"  %> > <%= @restaurant.name %></p>
    <div class="restaurant-details">
      <h2><strong><%= @restaurant.name %></strong></h2>
      <p>Location: <%= @restaurant.location %></p>
      <p>Category: <%= @restaurant.category %></p>
    </div>
      <%= link_to "View Confirmation", order_path(@order) %>
  </div>
</div>

<%# item cards %>
<div class="d-flex justify-content-center align-items-center">
  <% @restaurant.items.each do |item| %>
    <div class="targetcards">
      <div class="cards d-flex gap-4">
        <div class="card boader p-3 border-success">
          <div class="card-img"><%= image_tag "fish.jpg" %></div>
          <div class="text-center"><h4><%= item.name %></h4></div>

          <div class="description"><p><%= item.description %></p></div>
          <div class="price"><p>$<%= item.price %></p></div>
          <%= simple_form_for [@order, @order_item] do |f| %>
            <%= f.input :quantity, input_html: { min: 0, value:  } %>
            <%= f.input :restaurant_id, :as => :hidden, :input_html => { :value => @restaurant.id } %>
            <%= f.input :item_id, :as => :hidden, :input_html => { :value => item.id } %>
            <%= f.submit "Add To Order", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
