<div class="container-seller">
  <div class="dashboard" style="background-image: url(https://www.pptgrounds.com/wp-content/uploads/2019/04/Health-foods-ppt-backgrounds.jpg);">
    <div class="restaurant-header">
      <h1><strong><%= @restaurant.name %></strong></h1>
      <h5>Food Dashboard</h5>
      <p class="link-header"><%= link_to "Create New Item", new_restaurant_item_path(@restaurant, @item) %> | <%= link_to "Back to Homepage", root_path %></p>
    </div>
  </div>

  <%# <h2>Show all food item here</h2> %>

  <div class="restaurant-items mt-4">
    <div class="target-items row gap-3 pt-3 justify-content-center text-center">
      <% @restaurant.items.each do |item| %>
          <%# <% restaurant.items.each do |item| %>

            <div class="card-restaurant boader p-3 border-success col-6 col-md-4 col-lg-3">
              <div class="card-img">
                <% if item.photo.attached? %>
                  <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fill %>
                <% end %>
              </div>
              <h4 class="name mt-4"><%= item.name %></h4>
              <p class="item-name"><%= item.description %></p>
              <p class="price">$<%= item.price %></p>
              <div>
                <%= link_to "Edit", edit_restaurant_item_path(@restaurant, item) %> |
                <%= link_to "Delete", restaurant_item_path(@restaurant, item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </div>
            </div>
      <% end %>
    </div>
  </div>
</div>

<%# <%= button_to "Log Out", destroy_user_session_path, method: :delete  %>
