<%# <h1>BUYER SHOW PAGE </h1> %>
<%# restaurant banner details %>
<div class="banner_buyer_show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1651166/pexels-photo-1651166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="header">
    <p id= "user_show_font"><%= link_to 'Home', root_path, class: "text-decoration-none btn btn-outline-light"  %> </p>
    <p id= "user_show_font">Restaurant Name: <%= @restaurant.name %></p>
    <div class="restaurant-details">
      <%# <h2 id= "user_show_font"><strong><%= @restaurant.name %></strong></h2>
      <p id= "user_show_font">Location: <%= @restaurant.location %></p>
      <p id= "user_show_font">Category: <%= @restaurant.category %></p>
    </div>

    <%# <% if user_signed_in? %>
      <%# <%= link_to "View Confirmation", order_path(@order), class: "btn btn-success"%>
    <%# <% end %>
  </div>
</div>

<%# item cards %>
<div class="d-flex flex-wrap justify-content-center gap-4 px-1 mt-4 row">
  <% @restaurant.items.each do |item| %>
      <div class="col-sm-3 d-flex">
        <div class="card border p-3 border-success">
          <div class="card-img-top"><%= image_tag "fish.jpg" %></div>
          <div class="card-body d-flex flex-column">
            <div class="card-title"><h4><%= item.name %></h4></div>
            <div class="card-text mb-auto"><p><%= item.description %></p></div>
            <div class="card-text mt-auto"><p>$<%= item.price %></p></div>
              <% if user_signed_in? %>
                <div class="mt-auto">
                  <%= simple_form_for [@order, @order_item] do |f| %>
                    <div class="field"><%= f.input :quantity, input_html: { min: 0 } %></div>
                    <%= f.input :restaurant_id, :as => :hidden, :input_html => { :value => @restaurant.id } %>
                    <%= f.input :item_id, :as => :hidden, :input_html => { :value => item.id } %>
                    <a><%= f.submit "Add item", class: "btn btn-primary align-items-center" %></a>
                  <% end %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
  <% end %>
</div>

<% if flash.alert %>
  <div class="alert alert-primary" role="alert">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>
