<h1>My Restaurants</h1>

<div>
  <%= @restaurant.name %>
  <%= @restaurant.category %>
  <%= @restaurant.location %>
  <%= @restaurant.opening_hour %>
  <%= @restaurant.closing_hour %>
</div>

<%=  link_to "Return to dashboard", restaurants_path(@restaurant) %>
