<div class="container p-5 rounded mt-3">
  <%= simple_form_for [@restaurant, @item] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
