<%# dashboard header %>
<div class="dashboard">
  <div class="restaurant-header w-100 d-flex align-items-center justify-content-center shadow-lg" style="height: 200px; background-color: white">
    <h1>What is this page?? Food Dashboard</h1>
  </div>
</div>

<%# restaurant items %>
<div class="restaurant-items">
  <div class="target-items row gap-3 pt-3 justify-content-center text-center">
    <% @restaurants.each do |restaurant| %>
        <% restaurant.items.each do |item| %>
          <div class="card boader p-3 border-success col-6 col-md-4 col-lg-3">
            <div class="card-img"><%= image_tag "fish.jpg" %></div>
            <% if item.photo.attached? %>
              <%= cl_image_tag item.photo.key, height: 100, width: 100, crop: :fill %>
            <% end %>
            <h4 class="name"><%= item.name %></h4>
            <p class="description"><%= item.description %></p>
            <p class="price">$<%= item.price %></p>
            <%= link_to "edit", edit_restaurant_item_path(restaurant, item)%>
          </div>
        <% end %>
    <% end %>
  </div>
</div>



<%# <%= button_to "Log Out", destroy_user_session_path, method: :delete  %>
