<body id="create-item">

    <div class="dashboard">
      <div class="create-item-header">
        <h1><strong>Let's Create Your Menu</strong></h1>
        <p><em>Fixing your customer's hunger</em></p>
      </div>
    </div>

    <%# <h1>Let's create your menu</h1> %>

    <div class="create-item-container p-5 rounded mt-3 text-start">
      <%= simple_form_for [@restaurant, @item] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>

</body>
